Mini_Projet_Poc/bibliothequere/Connected Services/ServiceReference1/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58691/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58691/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58691/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
      <xsd:import schemaLocation="http://localhost:58691/Service2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_AjouterOuvrage_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterOuvrage" />
  </wsdl:message>
  <wsdl:message name="IService2_AjouterOuvrage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterOuvrageResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerEmprent_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerEmprent" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerEmprent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerEmprentResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Consulter_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulter" />
  </wsdl:message>
  <wsdl:message name="IService2_Consulter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsulterResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Connexion_InputMessage">
    <wsdl:part name="parameters" element="tns:Connexion" />
  </wsdl:message>
  <wsdl:message name="IService2_Connexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerCompte_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerCompte" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerCompte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerCompteResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerComptee_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerComptee" />
  </wsdl:message>
  <wsdl:message name="IService2_ConfirmerComptee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmerCompteeResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_RendreEmprent_InputMessage">
    <wsdl:part name="parameters" element="tns:RendreEmprent" />
  </wsdl:message>
  <wsdl:message name="IService2_RendreEmprent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RendreEmprentResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ListBibliothequeur_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBibliothequeur" />
  </wsdl:message>
  <wsdl:message name="IService2_ListBibliothequeur_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBibliothequeurResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="AjouterOuvrage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/AjouterOuvrage" message="tns:IService2_AjouterOuvrage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/AjouterOuvrageResponse" message="tns:IService2_AjouterOuvrage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmerEmprent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ConfirmerEmprent" message="tns:IService2_ConfirmerEmprent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ConfirmerEmprentResponse" message="tns:IService2_ConfirmerEmprent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Consulter" message="tns:IService2_Consulter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ConsulterResponse" message="tns:IService2_Consulter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Connexion" message="tns:IService2_Connexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ConnexionResponse" message="tns:IService2_Connexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmerCompte">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ConfirmerCompte" message="tns:IService2_ConfirmerCompte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ConfirmerCompteResponse" message="tns:IService2_ConfirmerCompte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmerComptee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ConfirmerComptee" message="tns:IService2_ConfirmerComptee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ConfirmerCompteeResponse" message="tns:IService2_ConfirmerComptee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RendreEmprent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/RendreEmprent" message="tns:IService2_RendreEmprent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/RendreEmprentResponse" message="tns:IService2_RendreEmprent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBibliothequeur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ListBibliothequeur" message="tns:IService2_ListBibliothequeur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ListBibliothequeurResponse" message="tns:IService2_ListBibliothequeur_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjouterOuvrage">
      <soap:operation soapAction="http://tempuri.org/IService2/AjouterOuvrage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmerEmprent">
      <soap:operation soapAction="http://tempuri.org/IService2/ConfirmerEmprent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulter">
      <soap:operation soapAction="http://tempuri.org/IService2/Consulter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <soap:operation soapAction="http://tempuri.org/IService2/Connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmerCompte">
      <soap:operation soapAction="http://tempuri.org/IService2/ConfirmerCompte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmerComptee">
      <soap:operation soapAction="http://tempuri.org/IService2/ConfirmerComptee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RendreEmprent">
      <soap:operation soapAction="http://tempuri.org/IService2/RendreEmprent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBibliothequeur">
      <soap:operation soapAction="http://tempuri.org/IService2/ListBibliothequeur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:58691/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>