Mini_Projet_Poc/emprentuer/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58691/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58691/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58691/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
      <xsd:import schemaLocation="http://localhost:58691/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreeComptee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreeComptee" />
  </wsdl:message>
  <wsdl:message name="IService1_CreeComptee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreeCompteeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreeCompte_InputMessage">
    <wsdl:part name="parameters" element="tns:CreeCompte" />
  </wsdl:message>
  <wsdl:message name="IService1_CreeCompte_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreeCompteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulter_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulter" />
  </wsdl:message>
  <wsdl:message name="IService1_Consulter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsulterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Recherche_InputMessage">
    <wsdl:part name="parameters" element="tns:Recherche" />
  </wsdl:message>
  <wsdl:message name="IService1_Recherche_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Connexionn_InputMessage">
    <wsdl:part name="parameters" element="tns:Connexionn" />
  </wsdl:message>
  <wsdl:message name="IService1_Connexionn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnexionnResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Connexion_InputMessage">
    <wsdl:part name="parameters" element="tns:Connexion" />
  </wsdl:message>
  <wsdl:message name="IService1_Connexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifierMotPass_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifierMotPass" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifierMotPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierMotPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Reserver_InputMessage">
    <wsdl:part name="parameters" element="tns:Reserver" />
  </wsdl:message>
  <wsdl:message name="IService1_Reserver_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserverResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InscrireAttente_InputMessage">
    <wsdl:part name="parameters" element="tns:InscrireAttente" />
  </wsdl:message>
  <wsdl:message name="IService1_InscrireAttente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InscrireAttenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreeComptee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreeComptee" message="tns:IService1_CreeComptee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreeCompteeResponse" message="tns:IService1_CreeComptee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreeCompte">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreeCompte" message="tns:IService1_CreeCompte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreeCompteResponse" message="tns:IService1_CreeCompte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consulter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Consulter" message="tns:IService1_Consulter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsulterResponse" message="tns:IService1_Consulter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recherche">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Recherche" message="tns:IService1_Recherche_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercheResponse" message="tns:IService1_Recherche_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connexionn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Connexionn" message="tns:IService1_Connexionn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConnexionnResponse" message="tns:IService1_Connexionn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Connexion" message="tns:IService1_Connexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConnexionResponse" message="tns:IService1_Connexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifierMotPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifierMotPass" message="tns:IService1_ModifierMotPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifierMotPassResponse" message="tns:IService1_ModifierMotPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reserver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Reserver" message="tns:IService1_Reserver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReserverResponse" message="tns:IService1_Reserver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InscrireAttente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InscrireAttente" message="tns:IService1_InscrireAttente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InscrireAttenteResponse" message="tns:IService1_InscrireAttente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreeComptee">
      <soap:operation soapAction="http://tempuri.org/IService1/CreeComptee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreeCompte">
      <soap:operation soapAction="http://tempuri.org/IService1/CreeCompte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulter">
      <soap:operation soapAction="http://tempuri.org/IService1/Consulter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recherche">
      <soap:operation soapAction="http://tempuri.org/IService1/Recherche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexionn">
      <soap:operation soapAction="http://tempuri.org/IService1/Connexionn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connexion">
      <soap:operation soapAction="http://tempuri.org/IService1/Connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierMotPass">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifierMotPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserver">
      <soap:operation soapAction="http://tempuri.org/IService1/Reserver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InscrireAttente">
      <soap:operation soapAction="http://tempuri.org/IService1/InscrireAttente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58691/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>