Mini_Projet_Poc/emprentuer/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58691/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
  <xs:element name="CreeComptee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q1:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreeCompteeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreeCompteeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreeCompte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q2:Ensignant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreeCompteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreeCompteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsulterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="ConsulterResult" nillable="true" type="q3:ArrayOfOuvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recherche">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="o" nillable="true" type="q4:Ouvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="RechercheResult" nillable="true" type="q5:ArrayOfOuvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connexionn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q6:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnexionnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q7:Ensignant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierMotPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q8:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierMotPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierMotPassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="o" nillable="true" type="q9:OuvrageEmprent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscrireAttente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="l" nillable="true" type="q10:ListeAttente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InscrireAttenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InscrireAttenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sanctionner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SanctionnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>