Mini_Projet_Poc/bibliothequere/Connected Services/ServiceReference2/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58693/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf" />
  <xs:element name="AjouterOuvrage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="o" nillable="true" type="q1:Ouvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterOuvrageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjouterOuvrageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerEmprent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q2:OuvrageEmprent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerEmprentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmerEmprentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsulterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="ConsulterResult" nillable="true" type="q3:ArrayOfOuvrage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="b" nillable="true" type="q4:Bibliothequer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerCompte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q5:Ensignant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerCompteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmerCompteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerComptee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="e" nillable="true" type="q6:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmerCompteeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmerCompteeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RendreEmprent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="o" nillable="true" type="q7:OuvrageEmprent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RendreEmprentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RendreEmprentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBibliothequeur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBibliothequeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcf" minOccurs="0" name="ListBibliothequeurResult" nillable="true" type="q8:ArrayOfBibliothequer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>